accelerate
adjustText
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
backcall
beautifulsoup4
bleach
Bottleneck
Brotli
cached-property
cachetools
cbor
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
distro
entrypoints
et-xmlfile
exceptiongroup
executing
fastjsonschema
filelock
FlagEmbedding
fonttools
fqdn
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
ijson
importlib_metadata
importlib_resources
inscriptis
ipykernel
ipython
ipywidgets
ir_datasets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
Levenshtein
lxml
lz4
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
multidict
multiprocess
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk
notebook
notebook_shim
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
openpyxl
overrides
packaging
pandas
pandas_flavor
pandocfilters
parso
patsy
peft
pexpect
pickleshare
Pillow
pingouin
pip
pkgutil_resolve_name
platformdirs
ply
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
python-Levenshtein
pytz
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
rfc3339_validator
rfc3986-validator
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
setuptools
sip
six
sniffio
socksio
soupsieve
stack_data
statsmodels
sympy
tabulate
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
trec-car-tools
types-python-dateutil
typing_extensions
typing_utils
tzdata
unicodedata2
unlzw3
uri-template
uritemplate
urllib3
warc3-wet
warc3-wet-clueweb09
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
wordcloud
xarray
xlrd
xxhash
yarl
zipp
zlib-state
zstandard
